.tutorials {
  margin: 20px 0px 35px;
}

.tutorial-item {
  position: relative;
  display: flex;
  align-items: flex-start;
  text-align: left;
  padding: 10px;
  margin: 15px 5px;
  border: 1px var(--gray) solid;
  border-radius: 10px 10px;
  box-shadow: 5px 5px 10px var(--gray);
}



.tutorial-item a {
  position: absolute;
  right: 5px;
  bottom: 5px;
  padding: 5px 10px;
  border: 2px var(--blue) solid;
  background-color: var(--blue);
  color: white;
  border-radius: 15% 0%;
  text-decoration: none;
}


.tutorial-item img{
  width: 100px;
  margin-right: 10px;
  object-fit: contain;
}

#tutorials-paging {
  display: flex;
  align-items: center;
  flex-basis: 1;
  justify-content: center;
}

.arrow-left {
  width: 30%;
  margin: 20px;
}

.arrow-left:hover{
  transition: var(--transition-dur);
  transform: scale(var(--scale1-2));
}

.disabled{
  cursor: not-allowed;
  opacity: 0.5;

}

.arrow-right {
  width: 30%;
  margin: 20px;
}

.arrow-right:hover{
  transition: var(--transition-dur);
  transform: scale(var(--scale1-2));
}

.page-number {
  font-weight: bold;
}

#tutorials-paging ~div{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.date{
  color: var(--blue);
  font-style: italic;
  font-size: 0.9rem;
  margin-top: 5px;
}

.filter-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#filter{
  margin-left: 10px;
  width: 45%;
}

#sort-by{
  height: 2rem;
  border: 1px var(--gray) solid;
}

#sort-by:active{
  border: 2px var(--blue) solid;
}

#sort-by:focus{
  outline: none !important;
  border: 2px var(--blue) solid;
}


